---
import Layout from "../layouts/Layout.astro";
import DancerSection from "../components/DancerSection.astro";
import DescriptionSection from "../components/DescriptionSection.astro";
import DancerInfoSection from "../components/DancerInfoSection.astro";
import { Image } from "astro:assets";
import line2 from "../optimizedPhotos/line2.png";
import Teacher from "../components/Teacher.astro";
import flat from "../optimizedPhotos/flat.png";
import ChoreographerSection from "../components/ChoreographerSection.astro";
---

<Layout>
  <main>
    <section id="home" class="section min-h-screen">
      <img
        src="../photos/homeprofile.png"
        alt="home profile"
        loading="eager"
        class="home-profile max-h-[800px] max-w-[600px] mx-auto unselectable"
      />
      <div>
        <p class="text-3xl quote text-center opacity-80 mx-16">
          “And those who were seen dancing were thought to be insane by those
          who could not hear the music.”
        </p>
      </div>
    </section>
    <section id="description" class="section min-h-fit">
      <Image src={line2} alt="line" class="unselectable pt-8" />
      <DescriptionSection />
    </section>
    <section id="dancer" class="section min-h-screen bg-white">
      <DancerSection />
    </section>
    <section id="dancerInfo" class="section min-h-screen">
      <Image src={line2} alt="line" class="unselectable pt-8" />
      <DancerInfoSection />
    </section>
    <section id="teacher" class="section min-h-screen">
      <Image src={flat} alt="teacher" />
      <Image src={line2} alt="line" class="unselectable pt-8" />
      <Teacher />
    </section>
    <section id="choreographer" class="section min-h-screen">
      <Image src={line2} alt="line" class="unselectable pt-8" />
      <ChoreographerSection />
    </section>
    <section id="about" class="section min-h-screen">
      <h1 class="bg-slate-600">About</h1>
      <p class="bg-slate-600">Welcome to the about page</p>
    </section>
  </main>

  <style>
    #home {
      background-image: linear-gradient(
          rgba(189, 123, 18, 0.749),
          rgba(249, 213, 111, 0)
        ),
        url("/photos/homebg.jpg");
      background-repeat: no-repeat;
      background-size: cover;

      max-height: fit-content;
    }

    #description {
      background-color: #b8b7b7;
    }

    #dancer {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.822),
          rgba(39, 37, 37, 0.541)
        ),
        url("/photos/sketchbg.webp");
      height: fit-content;
      background-repeat: no-repeat;
      background-size: cover;
    }

    #dancerInfo {
      background-color: #b8b7b7;
    }

    #teacher {
      background-color: #b8b7b7;
    }

    #choreographer {
      background-color: #b8b7b7;
    }

    .quote {
      font-family: "montserrat";
      color: black;
    }

    .home-profile {
      object-fit: cover;
      width: 100%;
      height: 500px;
    }

    .unselectable {
      user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      pointer-events: none;
    }

    @media (max-height: 800px) {
      .quote {
        position: relative;
        top: -55px;
      }
    }
  </style>
</Layout>
