---
import { Image } from "astro:assets";
import img1 from "../optimizedPhotos/1.jpg";
import img2 from "../optimizedPhotos/26.jpg";
import img3 from "../optimizedPhotos/18.jpg";
import img4 from "../optimizedPhotos/4.jpg";
import img5 from "../optimizedPhotos/22.jpg";
import img6 from "../optimizedPhotos/27.jpg";
import img7 from "../optimizedPhotos/7.jpg";
import img8 from "../optimizedPhotos/8.jpg";
import img9 from "../optimizedPhotos/10.jpg";
import img10 from "../optimizedPhotos/12.jpg";
---

<div class="grid grid-cols-2 md:grid-cols-4 gap-2 p-10">
  <div class="grid gap-2">
    <div class="image-container">
      <Image
        class="h-auto max-w-full rounded-lg"
        src={img1}
        loading="lazy"
        alt="Me Dancing"
      />
    </div>
    <div class="image-container">
      <Image
        class="h-auto max-w-full rounded-lg"
        src={img2}
        loading="lazy"
        alt="Me Dancing"
      />
    </div>
    <div class="image-container">
      <Image
        class="h-auto max-w-full rounded-lg"
        src={img3}
        loading="lazy"
        alt="Me Dancing"
      />
    </div>
  </div>
  <div class="grid gap-2">
    <div class="image-container">
      <Image
        class="h-auto max-w-full rounded-lg"
        src={img4}
        loading="lazy"
        alt="Me Dancing"
      />
    </div>
    <div class="image-container">
      <Image
        class="h-auto max-w-full rounded-lg"
        src={img5}
        loading="lazy"
        alt="Me Dancing"
      />
    </div>
    <div class="image-container">
      <Image
        class="h-auto max-w-full rounded-lg"
        src={img6}
        loading="lazy"
        alt="Me Dancing"
      />
    </div>
  </div>
  <div class="grid gap-2">
    <div class="image-container">
      <Image
        class="h-auto max-w-full rounded-lg"
        src={img7}
        loading="lazy"
        alt="Me Dancing"
      />
    </div>
    <div class="image-container">
      <Image
        class="h-auto max-w-full rounded-lg"
        src={img8}
        loading="lazy"
        alt="Me Dancing"
      />
    </div>
  </div>
  <div class="grid gap-2">
    <div class="image-container">
      <Image
        class="h-auto max-w-full rounded-lg"
        src={img9}
        loading="lazy"
        alt="Me Dancing"
      />
    </div>
    <div class="image-container">
      <Image
        class="h-auto max-w-full rounded-lg"
        src={img10}
        loading="lazy"
        alt="Me Dancing"
      />
    </div>
  </div>
</div>

<style>
  .image-container {
    position: relative;
    overflow: hidden;
    width: 100%; /* Ensure the container takes full width */
    height: auto; /* Allow height to adjust based on image */
    max-width: 100%; /* Ensure the image doesn't overflow the container */
    max-height: 100%; /* Ensure the image doesn't overflow the container */
    display: flex;
    justify-content: center; /* Center the image horizontally */
    border-radius: 1rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
  }

  .image-container img {
    transition: transform 0.5s;
  }

  .image-container:hover img {
    transform: scale(1.1);
  }
</style>
